ul {
    margin: auto;
    display:inline-block;
    list-style-type: none;
    padding: 20px; 
    text-align: center;      
}

li {
    float: left;

}

a{
    padding: 8px;
    text-decoration: none;
    
}

.btn-success{
    background-color: #521248;
    color: #fff;
    
}

.btn-success:hover{
    background-color: #000;
    color: #fff;
}

.bi-person-circle:hover{
    color: #521248 ;
}

